@page "/redditWsbDd"
@using Stocks.Model.Profile

@if (RedditDdDtoList == null)
{
    <p>Loading</p>
}
else
{
    <div>
        <table id="example" class="table table-striped" style="width:100%"
               data-pagination="true">
            <thead>
            <tr>
                <th class="sort-th">Title</th>
                <th><span @onclick="@(() => Sort("Created"))">Created</span></th>
                <th><span @onclick="@(() => Sort("Score"))">Score</span></th>
                <th>Ticker</th>
                <th>Day</th>
                <th>Week</th>
                <th>Month</th>
                <th>3Months</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in RedditDdDtoListFiltered)
            {
                <tr>

                    <td>
                        @if (@item.title.Length > 50)
                        {
                            @item.title.Substring(0, 50)
                        }
                        else
                        {
                            @item.title
                        }
                    </td>
                    <td>@item.CreatedString</td>
                    <td>@item.score</td>
                    <td>@item.Ticker</td>
                    <td>@item.Prices.Day.Performance</td>
                    <td>@item.Prices.Week.Performance</td>
                    <td>@item.Prices.Month.Performance</td>
                    <td>@item.Prices.ThreeMonths.Performance</td>
                </tr>
            }
            </tbody>
        </table>
        
        @if (RedditDdDtoList.Paging.TotalPages > 0)
        {
            <div class="float-left pager">
                <button type="button" class="btn btn-primary btn-sm" disabled="@(RedditDdDtoList.Paging.Page == 1 ? "disabled" : null)"  @onclick="@(() => GetItems(1))">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" disabled="@(RedditDdDtoList.Paging.Page - 1 >= 0 ? null : "disabled")"  @onclick="@(() => GetItems(RedditDdDtoList.Paging.Page - 1))">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <span>@RedditDdDtoList.Paging.Page</span>
                <button type="button" class="btn btn-primary btn-sm" disabled="@(RedditDdDtoList.Paging.Page + 1 <= RedditDdDtoList.Paging.TotalPages ? null : "disabled")" @onclick="@(() => GetItems(RedditDdDtoList.Paging.Page + 1))">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" disabled="@(RedditDdDtoList.Paging.Page == RedditDdDtoList.Paging.TotalPages ? "disabled" : null)" @onclick="@(() => GetItems(RedditDdDtoList.Paging.TotalPages))">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
            </div>
        }
    </div>
}