@page "/"

<h3>Gainers</h3>

@if (GainersList == null)
{
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Change</th>
                    <th>Price</th>
                    <th>Changes Percentage</th>
                    <th>CompanyName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in GainersList)
                {
                    <tr>
                        <td>@item.ticker</td>
                        <td>@item.changes</td>
                        <td>@item.price</td>
                        <td>@item.changesPercentage</td>
                        <td>@item.companyName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<h3>Losers</h3>

@if (LosersList == null)
{
}
else
{
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Ticker</th>
                <th>Change</th>
                <th>Price</th>
                <th>Changes Percentage</th>
                <th>CompanyName</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in LosersList)
            {
                <tr>
                    <td>@item.ticker</td>
                    <td>@item.changes</td>
                    <td>@item.price</td>
                    <td>@item.changesPercentage</td>
                    <td>@item.companyName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

