@page "/openinterest"
@using System.Globalization


@if (AllStocks == null)
{
    <p>Loading</p>
}
else
{
    @foreach (var stock in AllStocks)
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Created</th>
                        <th>DayOfWeek</th>
                        <th>Open Calls</th>
                        <th>Open Puts</th>
                        <th>Call Put ratio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in stock)
                    {
                        <tr>
                            <td>@item.Ticker</td>
                            <td>@item.Created.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)</td>
                            <td>@item.DayOfWeek</td>
                            <td>@item.OpenInterestCall</td>
                            <td>@item.OpenInterestPut</td>
                            <td>@item.CallPutRatio</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}